body {
    background-color: #EBFFFF;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.screen__vrap {
    background: url('./images/header1.jpg') no-repeat;
    background-size: 100%;
    background-position: bottom;
    min-height: 864px;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo__header {
    margin-top: 30px;
}

header {
    width: 100%;
    height: 135px;
    background: rgba(0, 255, 255, 0.42);
}

.menu__vrap {
    width: 619px;
    margin-top: 60px;
}

.menu__vrap ul {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Heebo', sans-serif;
}

.menu__vrap a {
    color: #081038;
    text-transform: uppercase;

}

.menu__vrap li {
    margin-right: 23px;
}

.menu__vrap li:hover {
    color: #b6ffff;
    border-bottom: 2px solid #b6ffff;
}

.social__vrap {
    color: #000;
    height: 28px;
    width: 258px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.social__vrap p {

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000;

}

.offer__vrap {
    display: flex;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
}

.header__offer {
    width: 500px;
    height: 390px;
    background: rgba(0, 255, 255, 0.12);
    border-radius: 5px;
    margin-top: 103px;
    padding-left: 55px;
}

.hello__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    padding-top: 55px;
}

.description__text {
    padding-top: 35px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFDFD;
    width: 357px;
}

.text {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFDFD;
    padding-top: 22px;
}

button {
    width: 266px;
    height: 60px;
    background: linear-gradient(115.32deg, #00FFFF -1.24%, #00F1FF 11.23%, #00A9FF 75.97%, #0099FF 90.73%);
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 119.18%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
}

button:hover {
    background: linear-gradient(115.32deg, #19A6F4 -1.24%, #19A6F4 11.23%, #AD00FF 75.97%, #9C0BFF 90.73%);
}

.bali {
    margin-top: 275px;
}

/* .vrap__container {
    max-width: 1180px;
    margin: 0 auto;
} */

.dream__background {
    background: url('./images/dream1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.dream__container {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 81px;
}

.dream__description {
    width: 433px;
    height: 355px;
}

.dream__description h3,
.program__container h3,
.order__container h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #081038;
    padding-bottom: 37px;
}



.dream__description p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-top: 22px;
}

.dream__slider {
    width: 670px;
    height: 444px;
}

.dream__slider img {
    width: 670px;
    height: 389.74px;
    border-radius: 5px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.dots__container {

    max-width: 670px;
    margin: 0 auto;
    padding-top: 31px;
}

.arrow__prew img,
.arrow__next img {
    height: 22.48px;
    width: 12.84px;
}

.dot1 {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    border: 1px solid #0099FF;
}

.dots__container {
    display: flex;
    width: 173px;
    justify-content: space-between;
}

.dots__vrap {
    width: 70px;
    justify-content: space-between;
    display: flex;
}

span {
    color: #009BFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.program__container {
    min-height: 676px;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 125px;
}

.program__title {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.program__travel {
    width: 350px;
    height: 437px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
}

.program__travel img {
    padding-top: 40px;

}

.program__travel h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: center;
}

.program__travel img {
    padding-left: 150px;
}

.program__travel h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
    padding: 6px 13px;
}

.line__gorizont {
    width: 207px;
    border: 2px solid;
    margin-left: 72px;
}

.yellow {
    border-color: #DBFE70;
}

.blue {
    border-color: #80FFFF;
}

.green {
    border-color: #71FE70;

}

.program__travel ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    padding: 10px 0 0 72px;
}

.studied-time__yellow,
.studied-time__green,
.studied-time__blue {
    width: 269px;
    height: 46px;
    border-radius: 5px;
    margin: 41px 40px;
    border-radius: 5px;
}

.studied-time__yellow {
    background: rgba(210, 255, 77, 0.8);
}

.studied-time__blue {
    background: rgba(128, 255, 255, 0.8);
}

.studied-time__green {
    background: rgba(77, 255, 77, 0.8);
}

.program__travel p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    padding: 7px 59px;
}

.order__vrap {
    max-width: 1180px;
    margin: 0 auto;
}

.order__container {
    height: 920px;
    background: url('./images/contact1.jpg') no-repeat;
    background-size: cover;
}

.order__container h3 {
    padding-top: 80px;
}

.contact-form__container {
    max-width: 724px;
    margin: 0 auto;
    height: 490px;
    background: rgba(249, 253, 255, 0.2);
    box-shadow: 0px 4px 200px rgba(7, 49, 70, 0.25);
    border-radius: 5px;
    margin-top: 90px;
}

.contact-form__container img {
    padding: 50px 0 0 50px;
}

.contact-form__container p {
    font-family: 'Roboto', sans-serif;
    padding: 16px 0 0 98px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #081038;
}

.contact-form__container form {
    display: flex;
    flex-direction: column;
    width: 518px;
    margin-left: 103px;
    padding-top: 11px;
}

.contact-form__container label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #081038;
}

input {
    height: 40px;
    border: none;
    border-bottom: 2px solid #009DFF;
    background: none;
}

.logo__footer {
    padding-top: 50px;
}

.footer__container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #081038;
    padding: 20px 0 20px 0;
}

.social__vrap span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    padding-top: 16px;
}

.menu__footer {
    max-width: 620px;

}

.menu__footer li {
    padding: 15px;
    color: #081038;
}

.menu__footer li:hover {
    border-bottom: 2px solid #081038;
}

.menu__footer ul {
    font-size: 13px;
    text-transform: none;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 60px;
}

.footer__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

footer .rights {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #081038;
    padding-bottom: 40px;
}